<div class="background">
    <div class="logo">GYMPAL</div>
    <div class="plans">
        <div class="plan">
            <label class="plan-title">Starter</label>
            <ul>
                <li>Goal Setting</li>
                <li>Recipe Suggestions</li>
                <li>Daily Reminders</li>
            </ul>
            <label class="price">Free</label>
            <button (click)="redirectHome()">Get started now</button>
        </div>
        <div class="plan">
            <label class="plan-title">Pro</label>
            <ul>
                <li>Custom Workout Plans</li>
                <li>Progress Tracking</li>
                <li>Community Support</li>
            </ul>
            <label class="price">$4.99 <span class="month">/ month</span></label>
            <button (click)="redirectBilling()">Choose plan</button>
        </div>
        <div class="plan">
            <label class="plan-title">Premium</label>
            <ul>
                <li>Nutrition Guidance</li>
                <li>Advanced Analytics</li>
                <li>Consultations with our <span class="space">fitness experts</span></li>
            </ul>
            <label class="price">$19.99 <span class="month">/ month</span></label>
            <button (click)="redirectBilling()">Subscribe</button>
        </div>
    </div> 
</div>