.background {
    height: 100%;
    width: 100%;
    position: absolute;
    background-size: cover;
    background-position: 30% 70%;
    left: 0;
    top: 0;
}

.background::before {    
    content: "";
    background-image: url("../../../assets/images/login-bg.png");
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.7;
}

.content-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 65%;
}

.text-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.logo {
    position: relative;
    font-family: "Montserrat", sans-serif;
    font-size: 6.5rem;
    font-weight: 700;
    color: black;
    margin: -15px;
}

.subtext {
    position: relative;
    font-family: "Montserrat", sans-serif;
    margin-top: 20px;
    font-size: 2rem;
    font-weight: 600;
    color: rgb(53 52 52);
}

.login-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-box{
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #383838cc;
    width: 320px;
    height: 360px;
    padding: 40px;
    align-items: center;
}

.form {
    position: relative;
    color: #b9b9b9;
    font-size: 0.9rem;
    margin-bottom: 15px;
}

.form img {
    height: 20px;
    width: 20px;
    cursor: pointer;
    position: absolute;
    right:0;
}

button {
    width: 80%;
    border-radius: 15px;
    font-family: "Montserrat", sans-serif;
    font-size: 0.9rem;
    padding: 5px 0;
    font-weight: 500;
    color: rgb(53 52 52);
    background-color: #deccbd;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #c3b2a5;
}

label {
    font-family: "Montserrat", sans-serif;
    margin: 15px 0 0px 0;
    color: #b9b9b9;
    font-size: 0.9rem;
    font-weight: 300;
}

p {
    font-family: "Montserrat", sans-serif;
    color: #b9b9b9;
    font-size: 0.9rem;
    font-weight: 600;
    text-align: center;
}

.error {
    color: #fb3b3b;
    font-weight: 300;
    margin: -20px 0 15px 0;
    font-size: 0.8rem;
}

.sign-up-link {
    text-decoration: underline;
    color: #deccbd;
    cursor: pointer;
}

.sign-up-link:hover {
    color: #c3b2a5;
}

::ng-deep .mdc-text-field {
    font-family: "Montserrat", sans-serif !important;
    padding: 15px 0 5px 0px !important;
    font-size: 15px !important;
}

::ng-deep .mdc-text-field--filled .mdc-floating-label {
    font-family: "Montserrat", sans-serif !important;
}

::ng-deep .mat-mdc-text-field-wrapper {
    width: 133% !important;
}

::ng-deep .mdc-text-field .mdc-floating-label {
    position: absolute !important;
    top: 40% !important;
}

@media screen and (max-width: 1300px) {
    .content-wrapper {
        width: 80%;
    }
}

@media screen and (max-width: 1100px) {
    .content-wrapper {
        width: 85%;
    }
}

@media screen and (max-width: 1000px) {
    .content-wrapper {
        flex-direction: column;
        justify-content: space-evenly;
    }

    .text-container {
        justify-content: center;
        width: 100%;
        margin-bottom: -35px;
        height: fit-content;
    }

    .logo {
        align-self: center;
    }

    .subtext {
        align-self: center;
        font-size: 1.7rem;
    }
}

@media screen and (max-width: 540px){
    .logo {
        font-size: 5rem;
    }

    .subtext {
        font-size: 1.32rem;
    }

    .login-container{
        margin-top: -45px;
    }
}

@media screen and (max-width: 450px){
    .content-wrapper {
        height: 90vh;
    }

    .text-container {
        margin-bottom: 0;
    }

    .logo {
        font-size: 4rem;
    }

    .subtext {
        font-size: 1.25rem;
        margin-top: 30px;
    }
}