<div class="background">
    <div class="content-wrapper container">
       <div class="text-container">
            <div class="logo">GYMPAL</div>
            <div class="subtext">
                <span id="typed" class="subtext"><!-- content will be typed here --></span>
            </div>
       </div>
       <div class="login-container">
        <div class="login-box">
            <div class="form">
                <mat-form-field>
                    <mat-label>Email</mat-label>
                    <input matInput [formControl]="emailFormControl">
                </mat-form-field>
            
                <mat-form-field>
                    <mat-label>Password</mat-label>
                    <input matInput [formControl]="passwordFormControl">
                </mat-form-field>
            </div>
            <button>Log In</button>
            <label>Don't have an account?</label>
            <p>
                Become the best you can be.
                <a routerLink='/sign-up' routerLinkActive="active" class="sign-up-link">sign up here.</a> 
            </p>
        </div>
       </div>
    </div>
</div>
